@charset "UTF-8";

/* SuisseIntl */
@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 300;
  src: local("SuisseIntl"), url("../fonts/SuisseIntl-Light.woff") format("woff");
}
@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 400;
  src: local("SuisseIntl"), url("../fonts/SuisseIntl-Regular.woff") format("woff");
}
@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 500;
  src: local("SuisseIntl"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
}
@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 700;
  src: local("SuisseIntl"), url("../fonts/SuisseIntl-Bold.woff") format("woff");
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
  font-size: 62.5%;
}
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, tr, th, td, caption, form, fieldset, input, select, textarea, blockquote, address, button {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
ul, ol, li {list-style:none;}
img, fieldset, button {border:0 none;}
address, em {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
legend {position: absolute; top: -9999px; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
q:before, q:after {content:'';}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* 가로 스크롤 절대 방지 */
  overflow-x: hidden; 
  -webkit-font-smoothing: antialiased;
}

* {box-sizing: border-box;}
body, input, select, textarea, button, th, td {color:#333;}
a {color:inherit; text-decoration:none; background-color: transparent;}
img {vertical-align:top;}
hr {display:none;}
input,select,textarea,button {vertical-align:middle; color: inherit; font-family: inherit; line-height: inherit; border: none;}
button,select {cursor: pointer; background: none;}

button::-moz-focus-inner, 
[type="button"]::-moz-focus-inner, 
[type="reset"]::-moz-focus-inner, 
[type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}

button:-moz-focusring, 
[type="button"]:-moz-focusring, 
[type="reset"]:-moz-focusring, 
[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}

/* input 기본 스타일 초기화 */
input {-webkit-appearance: none; -moz-appearance: none; appearance: none; vertical-align: middle;}
input::placeholder{color: #ddd;}
input::-webkit-input-placeholder{color: #ddd;}
input:-ms-input-placeholder { color: #ddd;}
input::-moz-input-placeholder {color: #ddd;}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* Select box 스타일 초기화 */ 
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }

/* html5 tag */
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section, main {display:block; margin:0; padding:0;}

/* global */
.shortcut-menu a {position: fixed; left: 0; top: -100%; display: block; width: 100px; height: 30px; background: grey; color: #fff; text-align: center; line-height: 30px;}
.shortcut-menu a:focus {top: 0;}
.blind {position: absolute; top: -9999px; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0;} /* 숨김 */
/* .ellipsis {overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}  한줄말줄임 */
.clearfix:after {display: block; clear: both; content: "";} /* float 해제 */
.clearfix {zoom: 1;}

/* reset mobile */
body,
textarea:focus,
input:focus,
a:focus {-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}